:root {
  /* font-family: sans-serif; */
  
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --blue: hsl(204, 60%, 50%);
  --blue2: hsl(204, 62%, 47%);
  --blue3: hsl(204, 62%, 42%);
  /* --blue: #0a62c0; */
  /* --dark-blue: #17385e; */
  /* --darkest-blue: #071422; */
  /* #338ecc - new blue??? */
  --darkest-blue: hsl(210, 50%, 2%);
  --darkest-blue2: hsl(210, 50%, 4%);
  --darkest-blue3: #09121b;

  --dark-blue: hsl(211, 66%, 8%);
  --dark-blue2: hsl(211, 67%, 11%);
  --dark-blue3: hsl(211, 67%, 15%);

  --btn-col: hsl(30, 100%, 50%);
  --btn2-col: hsl(30, 100%, 40%);
  --inactive-but: #ffc4a6;
  --inactive-link: #aaa;

  --head-col: light-dark(var(--blue), var(--darkest-blue));
  /* --head2-col: var(--blue2);
  --head3-col: var(--blue3); */
  --body-col: light-dark( #eee, var(--darkest-blue) );
  --body2-col: light-dark( hsl(0, 0%, 78%), var(--darkest-blue2) );
  --body3-col: light-dark( hsl(0, 0%, 65%), var(--darkest-blue3) );

  --text-col: light-dark(#111, #eee);
  --text2-col: light-dark(#444, #aaa);

  --tert-col: #bb5d00;
  --prim-col: var(--darkest-blue);
  --sec-col: #262626;

}

  body, :root {
  font-size: 16px;
  color: var(--text-col);
  background-color: var(--body-col);
  overflow: hidden auto;
}


input:not([type=file], [type=range]),
textarea {
  border-radius: 1rem;
  resize: none;
  padding: 5px;
  /* margin-left: 5px; */
  transition: outline 0.1s ease-out, border 0.1s ease-out;
  color: var(--text-col);
}

input[type=radio],
input[type=checkbox],
input[type=range] {
  accent-color: var(--btn-col);
}

.xmark {
  transition: transform .25s ease-in-out;

  &.plus {
    transform: rotate(-135deg);
  }
}

ol, ul {
  padding: unset;

}
li {
  list-style: none;
}

.crop-excess2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -moz-box;
  line-clamp: 2;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  &.hov:hover {
    overflow: auto;
    white-space: normal;
  }
}

*:has(> .crop-excess2){
  overflow-x: hidden;
}

small {
  font-size: 80%;
}


.dp-img,
.bg-img {
  background-color: #80808050;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dp-img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 50px;
  overflow: hidden;
}

.can-animate {
  opacity: 1;
  transform: translateY(0px);
  transition: .5s;

  &.not-animated {
    opacity: 0;
    transform: translateY(30px);
  }
}

.upgrade-required:after {
  content: 'PLUS✨';
  bottom: 75%;
  right: 50%;
  box-shadow: 0 0 2px var(--btn-col);
  transform: translateX(50%);
  background-color: white;
  font-weight: 500;
  padding: .25rem .5rem;
  position: absolute;
  color: var(--btn-col);
  border-radius: .5rem;
}

.pad {
  padding-left: 10px;
  padding-right: 10px;
}

.box {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 50px auto;
  scroll-margin-top: 100px;
}

label.nv-input {
  color: var(--text-col);
  background-color: var(--body2-col);
  padding: 5px 10px;

  &:focus-within {
      background-color: var(--body3-col);
      outline: 1px solid var(--btn-col);
  }

  input, textarea {
      background-color: inherit;
      border: none;
      outline: none;
  }
}

.icon-btn {
  --bg: transparent;
  aspect-ratio: 1/1;
  padding: 10px;

  .btn-bg, .btn-bg::after {
    aspect-ratio: 1/1;
    background-color: var(--bg);
    border-radius: 50%;
    padding: 5px;
  }

  .btn-bg::after {
    content: '';
    background-color: transparent;
    transition: .3s;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    position: inherit;
    width: 100%;
  }

  &:hover .btn-bg::after {
    background-color: light-dark(#00000020, #ffffff30);
  }
}


.custom-svg-loader {
  width: 100px;
  height: 100px;

  path {
    stroke: #ff8000;
    fill: none;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-dasharray: 100px;
    animation: draw .5s ease-in-out alternate-reverse infinite;
  }
} 

.my-btn {
  --color: var(--text-col);
  background-color: var(--btn-col);
  border-radius: 1rem;
  padding: 1px;
  transition: background-position .5s ease-in-out;

  &.deval > * {
    background-clip: border-box;
    -webkit-background-clip: border-box;
    background-color: var(--body-col);
    border-radius: inherit;
  }

  .btn {
    color: var(--color);
  }

  &:hover {
    background-color: var(--btn2-col);
  }
}


@media screen and (min-width: 768px) {
  .pad {
    padding-left: 35px;
    padding-right: 35px;
  }
}