

.chatlist {
    box-sizing: border-box;
    overflow: hidden auto;
    padding-top: 0px;
    scroll-behavior: smooth;
    top: 0px;
    width: 100%;

    .user {
        font-size: 120%;
        font-weight: 500;
    }

    .chatbg {
        left: 50%;
        top: 50%;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
    }

}


.msging {

    .content {
        padding: 10px 5px;
        overflow: hidden auto;
        scroll-behavior: smooth;
    }
}
